<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Hello c'est {{nom}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="jumbotron text-center">
		<h1>Bienvenue</h1>
		<img src="https://media-exp1.licdn.com/dms/image/C4D03AQGMy5JL9EtFbw/profile-displayphoto-shrink_200_200/0?e=1610582400&v=beta&t=nc2NLy8BTzGdvC4KzKnvHNhvjMNPG-hztgr6taqFzDs" class="img-fluid">
	  	<h3>Hello my name is {{nom}}</h3>
	</div>
</body>
</html>